<div id="thread-display-section">
    <div class="thread-container" id="cur-profile-thread-container">
        <div class="profile-container" style="padding: 20px 20px 0px 20px;">
            <div class="d-flex flex-row justify-content-between" style="margin-bottom:10px">
                <div>
                    <h4><b>{{user.display_name}}</b></h4>
                    {{user.username}}
                </div>
                <div class="avatar-and-follow-icon">
                    <img data-bs-toggle="modal" data-bs-target="#changeAvatar" src="{{user.avatar}}"
                        onclick="document.getElementById('changeAvatarImage').src='{{user.avatar}}';" alt="avatar"
                        class="border border-1 border-dark rounded-circle" style="width: 66px; height:66px;">
                </div>
            </div>
            <div>
                {{user.bio}}
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div data-bs-toggle="modal" data-bs-target="#followModal" style="color:grey;">
                    {{user.nFollowers}} followers ● {{user.nFollowings}} following
                </div>

                <a data-bs-toggle="modal" data-bs-target="#editProfile" role="button"
                    class="btn btn-dark col-12 col-md-3" style=" margin-top: 10px">
                    Edit Info
                </a>

            </div>

            <div style="text-align: center; border-top: 2px solid lightgray;  padding: 10px 0px; margin: 10px 0px">
                Threads of @{{user.username}}
            </div>

            <!-- Threads -->






        </div>
        {{>needle-your-thread}}
    </div>
    <!-- Modal for 'follow-' -->
    <div class="modal fade" id="followModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <div id="followersCol" class="d-flex flex-column justify-content-center col"
                        style="font-weight: bold;">
                        <div style="text-align: center;">Followers</div>

                        <div style="text-align: center; border-bottom: 2px solid;">{{user.nFollowers}}</div>

                    </div>

                    <div id="followingCol" class="d-flex flex-column justify-content-center col">
                        <div style="text-align: center;">Following</div>

                        <div style="text-align: center; border-bottom: 2px solid;">{{user.nFollowings}}</div>

                    </div>


                </div>
                <div id="followerModalBody" class="modal-body overflow-scroll d-flex flex-column gap-2"
                    style="max-height: 500px;">
                    <!-- content -->
                </div>
                <div id="followingModalBody" class="modal-body overflow-scroll d-flex flex-column gap-2 d-none"
                    style="max-height: 500px;">
                    <!-- content -->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for 'edit-profile' -->
    <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Updating Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex-column">
                    <form class="d-flex flex-column gap-2" id="editProfileForm" onsubmit="editUser(event)">
                        <div class="form-group">
                            <label for="Name"><b>Username</b></label>
                            <input id="Name" class="form-control" name="username" value="{{user.username}}">
                        </div>
                        <div class="form-group">
                            <label for="bio"><b>Bio</b></label>
                            <input id="bio" class="form-control" name="bio" value="{{user.bio}}">
                        </div>

                        <p class="text-danger justify-content-center" style="text-align:center" id="saveInfoError"></p>
                        <div class="m-2 d-flex justify-content-center">
                            <button type="submit" class="btn btn-dark">Save changes</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal for 'change-avatar' -->
    <div class="modal fade" id="changeAvatar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content p-2">
                <div class="modal-header justify-content-center" style="text-align: center;">
                    <img id="changeAvatarImage" alt="avatar" class="border border-1 border-dark rounded-circle"
                        style="width: 56px; height:56px;">
                </div>

                <div class="modal-body d-flex flex-column gap-2">
                    <label class="btn btn-outline-dark">From Device
                        <input id="pickedPicture" type="file" class="required d-none" accept="image/png, image/jpeg"
                            onchange="pickPicture(event)"></input>
                    </label>

                    <button type="submit" class="btn btn-outline-danger" onclick="removeAvatar()">Remove
                        Avatar</button>

                </div>
                <div class="modal-footer flex-column justify-content-center">
                    <p class="text-danger" id="saveAvatarError"></p>
                    <button type="submit" class="btn btn-dark" onclick="saveAvatarChange()">Save
                        changes</button>
                </div>

            </div>

        </div>
    </div>
</div>