<div id="thread-display-section">
    <div class="thread-container">
        <div class="profile-container" style="padding: 20px;">
            <div class="d-flex flex-row justify-content-between" style="margin-bottom:10px">
                <div>
                    <h4><b>{{user.display_name}}</b></h4>
                    {{user.username}}
                </div>
                <div class="avatar-and-follow-icon">
                    <img src="{{user.avatar}}" alt="avatar" class="border border-1 border-dark rounded-circle"
                        style="width: 66px; height:66px;">
                </div>
            </div>
            <div>
                {{user.bio}}
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="" style="color:grey;">
                    {{user.nFollowers}} followers
                </div>

                {{#if user.isFollowing}}
                <a role="button" data-username="{{user.username}}" class="btn btn-outline-dark col-12 col-md-4"
                    style=" margin-top: 10px" onclick="followClicked(this)">
                    Unfollow @{{user.username}}
                </a>
                {{else}}
                <a role="button" data-username="{{user.username}}" class="btn btn-dark col-12 col-md-4"
                    style=" margin-top: 10px" onclick="followClicked(this)">
                    Follow @{{user.username}}
                </a>
                {{/if}}



            </div>

            <div style="text-align: center; border-top: 2px solid lightgray;  padding: 10px 0px; margin: 10px 0px">
                Threads of @{{user.username}}
            </div>

            {{>thread-card}}
            {{>thread-card}}
            {{>thread-card}}
            {{>thread-card}}





        </div>
    </div>
</div>